.Header{
    background-color: rgb(255, 248, 232);
    justify-content: flex-end;
    padding-inline: 10%;
}

img {
    width: 7%;
    /* padding: 10px; */
}
ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin:0;
}

.nav01 {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-inline: 5%;
}

.nav01 > li {
    float:left;
    font-size: 13px;
    margin: 10px;
}

.nav01 > hr {
    margin: 10px;
}

.nav01 > button {
    margin: 5px;
}
.nav02 > li {
    float:left;
    translate: 100%;
    margin: 20px;
}