* {
    background-color: rgb(255, 252, 246);
}
.icons {
    height: 100px;
    size: 50rem;
    align-items: flex-end;
}

.menu {
    height: 20%;
    list-style: none;
    /* padding: 0%; */
    display: flex;
    justify-content: flex-end;
}

.menu > li {
    float:left;
    translate: 100%;
    margin-left: 5%;
    
}