* {
    background-color: rgb(255, 252, 246);
    padding: 0%;
}
.icons {
    height: 100px;
    size: 50rem;
    align-items: flex-end;
}

.menu {
    list-style: none;
    /* float: left; */
    text-align: center;
    padding: 0%;    

}

.li {
    float:left;
    margin: 0%;
    
}