.SeasonMenu {
    background: linear-gradient( rgb(195, 253, 255) 60%, rgb(255, 211, 218) 40%);
    height: 600px;
}

.halfCircle {
    width: 300px;
    height: 180px;
    background: linear-gradient( rgb(153, 252, 255), rgb(252, 197, 206) );
    border-radius: 150px 150px 0px 0px;
    position: relative;
    right: -37.5%;
    top: 30%;
    justify-content: center;
}