.SeasonMenu {
    /* background-color: aquamarine; */
    background: linear-gradient( rgb(195, 253, 255) 60%, rgb(255, 211, 218) 40%);
    height: 600px;
}

.halfCircle {
    width: 300px;
    height: 150px;
    /* background-color: rgb(255, 211, 218); */
    background: linear-gradient( rgb(153, 252, 255), rgb(252, 197, 206) );
    border-radius: 150px 150px 0px 0px;
    translate: 50% 100%;
    display: flex;
    justify-content: center;
    z-index: auto;
}