.Header{
    background-color: rgb(255, 248, 232);
    justify-content: flex-end;
    padding-inline: 20%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.img > img {
    width: 60px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin:0;
}

.nav01 {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-inline: 5%;
}

.nav01 > li {
    float:left;
    font-size: 80%;
    margin: 10px;
    margin-top: 13px;
}

.nav01 > hr {
    margin: 10px;
    margin-top: 13px;
}

.nav01 > button {
    margin: 5px;
}
.nav02 > li {
    float:left;
    font-size: 90%;
    margin: 20px;
}