.SeasonMenu {
    background: linear-gradient( rgb(195, 253, 255) 60%, rgb(255, 211, 218) 40%);
    height: 600px;
    padding-inline: 20%;
}

.halfCircle {
    width: 350px;
    height: 200px;
    background: linear-gradient(rgb(153, 252, 255), rgb(252, 197, 206));
    border-radius: 150px 150px 0px 0px;
    position: relative;
    right: -50.5%;
    top: -21.5%;
    justify-content: center;
    z-index: 1;
}

.slogan {
    margin-top: 70px;
    margin-left: 0;
}

.lookup {
    margin-top: 40px;
    margin-left: 100px;
}

.lookup > a {
    z-index: 1;
    padding: 10px;
    padding-inline: 30px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(255, 122, 144);
    color:rgb(255, 86, 114);
}

.latte {
    position: relative;
    margin-top: -22%;
    margin-left: 15%;
    z-index: 2;
}

.strawberryDrink {
    position: relative;
    padding: 0;
    top: -70px;
    margin-top: -100%;
    margin-left: 41%;
    z-index: 2;
}

.strawberryFrap {
    position: relative;
    padding-bottom: 2%;
    margin-top: -100%;
    margin-left: 76%;
    z-index: 2;
}